@font-face {
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-55Rg.ttf");
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-65Md.ttf");
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-75Bd.ttf");
}

a {
	font-family: "NHaasGroteskTXPro", sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
}