/* Your styles go here */
.box {
	font-family: "Helvetica", sans-serif;
	font-size: 30px;
	background-color: #CFD8DD;
	display: inline-block;
	margin-top: 10px;
	padding: 25px 25px;
	margin: 3px;
	text-align: center;
	letter-spacing: 1px;
	
}