	@font-face {
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-55Rg.ttf");
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-65Md.ttf");
	font-family: "NHaasGroteskTXPro"; src: url("../fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-75Bd.ttf");
}

body {
	background: black;
}

a {
	font-family: "NHaasGroteskTXPro", sans-serif;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
	padding-left: 40%;
	
}