	@font-face {
	font-family: "Ubuntu"; src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
	font-family: "Ubuntu"; src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
	font-family: "Ubuntu"; src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
	font-family: "Ubuntu"; src: url("../fonts/Ubuntu/Ubuntu-light.ttf");
}

body {
	background: #9EBE98;

}

.container {
	padding-top: 5%;
	float: bottom;
	display: block;
}

.title {
	font-family: "Ubuntu-medium", Arial, sans-serif;
	color: white;
	padding-left: 12%;
	font-size: 35px;
	position: absolute;
	text-decoration: none;

}

a {
	font-family: "Ubuntu", Arial, sans-serif;
	position: absolute;
	color: white;
	text-align: right;
	text-decoration: none;
	font-size: 30px;	
	letter-spacing: 0.6px;
	line-height: 20%;
	padding-left: 35vw;
}

.container-2 {
	
	padding-top: 10vw;
	
}

.container-3 {
	
	padding-top: 3vw;
	
}

.container-4 {

	padding-top: 3vw;
	
}
