	@font-face {
	font-family: "BBLD"; src: url("../fonts/BBLD.otf");
	font-family: "BBLK"; src: url("../fonts/BBLK.otf");
	font-family: "BMED"; src: url("../fonts/BMED.otf");
}

body {
	background: #9EBE98;
	font-family: "BMED", sans-serif;
}

.header {
	font-family: "BBLK";
	font-weight: italic;
	color: white;
	padding-left: 10vw;
	padding-top: 3vw;
	font-size: 5.1vw;
	text-decoration: none;
	font-weight: bold;
	line-height:0.9em;
	position: relative;
}

a {
	font-family: "BMED";
	color: white;
	text-decoration: none;
	font-size: 2vw;	
	line-height: 10%;
	margin-top: 1.7vw;
	padding-left: 56vw;
	text-align: left;
	display: grid;
	grid-gap: 1.5%;	
}


