.body {
	font-family: Helvetica Neue;

}

.bar {
    background-color: #F9E79F;
    color: white;
    font-family: franklin gothic;
}

.bar2 {
	background-color: #D7BDE2;
    color: white;
    font-family: franklin gothic;
    padding: 10px;
}

