@font-face {
	font-family: 'BGB';src: url("..font/BGB.otf");
	font-family: 'BGM';src: url("..font/BGM.otf");
}

html, body {
	width: 100%;
  	height: 100%;
	background-color: #FFFCF6;
}

/*div { height: 100%; width: 100%;}*/

h1 {
	font-family: 'BGB', sans-serif;
	font-size: 4vw;
	font-weight: 900;
	letter-spacing: 2.5px;
	text-align: center;
	color: #B6C6C3;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	float: right;
}

.wrapper a {
	text-decoration: none;
	color: #B6C6C3;
}

.flex-container {
	position: relative;
	margin: 0;
	height: 100vh;
	width: 150px;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  	flex-direction: column;
  	justify-content: space-between;
  	padding-left: 10px;
}

.album {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	box-sizing: border-box;
}

.album img {
	position: absolute;
}

.overlay {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: #F8C471;
 	opacity: 0;
 	transition: 0.2s ease-out;
 	cursor: pointer;
}

/*.flex-container:hover .overlay {
  opacity: 1;
  position: absolute;
  top: 24.7%;
  bottom: 0;
  width: 7%;
  height: 13.7%;
  opacity: 0.25;
  -webkit-transition: .2s ease;
  background-color: #F8C471;
  text-align:center;
}*/

.album:hover .overlay {
	opacity: 1;
}

.text {
  position: relative;
  font-family: 'BGM', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: black;
/*  position: absolute;
*/  
  top: 40%;
/*  transform: translate(-50%, -50%);
*/  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;

}

.audio-container {
	position: absolute;
	display: inline-block;
	width: 30%;
	height: 80vh;
	margin: 0;
	right: 70px;
	top: 110px;
}

/*
#button {
	height: 100%;
	width: 100%;
}
*/

.mid {
	height: 34%;
	width: 30%;
	background-color: #2D3E4F;
	border-radius: 3%;
	margin-left: 33%; 
	margin-top: 20%;
}

#metronome {
	height: 100%;
	width: 100%;
}

.bar {
	height: 38vw; 
	width: 2.5%;
	background-color: #FFCE71;
	padding-bottom: 8%;
	margin-left: 85.5%;
	border-radius: 5px;
}

.bpm-slider {
	height: 7%; 
	width: 7%;
	background-color: #FFCE71;
	border-radius: 2%;
	margin-left: 83.5%;
	margin-top: -8vh;
	border-radius: 5px;
}

/*
.play-button {
	width: 8%;
	height: 4%;
	border-style: solid;
	border-width: 2.3%;
	border-color: #FFCE71;
	box-sizing: border-box;
	border-width: 3% 0% 3% 8%;
	border-color: transparent transparent transparent #FFCE71;
}

.pause-button {
	width: 8%;
	height: 4%;
}
*/

.number {
	font-family: 'BGM', sans-serif;
	font-size: 2vh;
	color: #FFCE71;
	height: 100%;
	width: 100%;
}

.top {
	margin-top: -77vh;
	margin-left: 47vh;
}

.play {

}

.pause {

}


