	body {
		background-color: #DDE2BD;
		font-family: sans-serif;
		font-size: 20px;
		color: white;
		line-height: 35px;
		padding-top: 20px;
		padding-left: 70px;
		letter-spacing: 1px;
	}

	a {
		color: white;
		text-decoration: none;
		line-height: 50px;
		font-size: 20px;

	}

	h2 {
		padding-left: 250px;
		padding-top: 400px;

	}