	@font-face {
	font-family: "Open_Sans"; src: url("..assets/fonts/Open_Sans/Open_Sans-Bold.ttf");
	font-family: "Open_Sans"; src: url("..assets/fonts/Open_Sans/Open_Sans-SemiBold.ttf");
	font-family: "Open_Sans"; src: url("..assets/fonts/Open_Sans/Open_Sans-Regular.ttf");	
}

	body {
		background-color: #DDE2BD;
		font-family: "Open_Sans", sans-serif;
		font-size: 30px;
		color: white;
		line-height: 37px;
		letter-spacing: 0.8px;
	}

	a {
		font-family: "Open_Sans", sans-serif;
		color: white;
		text-decoration: none;
		line-height: 30px;
		font-size: 20px;
	}

	p {
		font-size: 30px;
		line-height: 1.6;
		letter-spacing: 0.7px;
	}

	h1 {
		padding-left: 8%;
		line-height: 40px;
		position: absolute;

	}

	h3 {
		padding-top: 20%;
		text-align: center;
		letter-spacing: 1px;
	}

.content1 {
	padding-left: 10%;
}

.content2 {
	padding-top: 5%;
	padding-left: 10%;
}

.content3 {
	padding-top: 5%;
	padding-left: 30%;
}

.content4 {
	padding-top: 5%;
	padding-left: 40%;
}